# Virtual Environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# VS Code
.vscode/

# Mac files
.DS_Store

# Logs
*.log

# Uploaded documents
uploaded_docs/

# Vector DB files
faiss_index/
*.faiss
*.pkl

# Node modules
node_modules/

# Build files
dist/
build/